<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <extensions>
    <extension class="Codedge\Updater\Tests\Hooks\BypassFinalHook"/>
  </extensions>
  <testsuites>
    <testsuite name="Laravel Application Self-Updater Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
